<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poker</title>
    <link rel="stylesheet" href="static/style.css">
   
    
</head>
<body>
    <h1>GAME</h1>
    <div class="header-playground">
        <p>{{ session['wallet']}}</p>
    </div>
    <div class="card-platground">
        <img class="card-img" src="{{ url_for('static',filename='cards/back.png') }}" onclick="clickedCard(this)">
        
        <img class="card-img" src="{{ url_for('static',filename='cards/back.png') }}" alt="">
        
        <img class="card-img" src="{{ url_for('static',filename='cards/back.png') }}" alt="">
        
        <img class="card-img" src="{{ url_for('static',filename='cards/back.png') }}" alt="">
        
        <img class="card-img" src="{{ url_for('static',filename='cards/back.png') }}" alt="">
        
    </div>
    <form action="/board" method="post">
        <input type="number" name="bet" min="1" placeholder="bet">
        <input type="submit" value="play">
    </form>
</body>
</html>