<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poker</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>First Round</h1>
    <form action ="/board/game" method="POST">
        <div class="contend-card">
            <h2>{{ session['tirage1']}} test </h2>
            
            <h3>{{ session['bet']}}</h3>
         

            {% for i in session['tirage1'] %}
              
                
                    <img class="cardd" src="{{ url_for('static',filename='cards/'+i+'.png') }}">
                    <input type="checkbox" id="{{i}}" name="i" value="{{i}}" onclick="checked_card()" data-card="data-card">
                   <script>
                            function checked_card()
                            {
                                if (document.getElementById("{{i}}").checked == true)
                                {
                                    
                                    alert('la case est cochée');
                                }

                            }
                    </script>
                    
                    
            {% endfor %}   
                <h3>{{ session['jeu'] }} cartes selectionnees</h3>
               
        </div>  
        <input type="submit" value="end-first-round"></input>
        
          
    </form>
   
</body>
</html>