<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poker</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>First Round</h1>
    <form method="POST">
        <div class="contend-card">
            <h2>{{ session['tirage1']}} test </h2>
            
          
            

            {% for i in session['tirage1']%}
              
                
                    <img class="cardd" src="{{ url_for('static',filename='cards/'+i+'.png') }}">
                    <input type="checkbox" id="{{i}}" name="{{i}}" onclick="checked_card()">
                   <script>
                            function checked_card()
                            {
                                if (document.getElementById("{{i}}").checked == true)
                                {
                                    //jeu.append(i)
                                    alert('la case est cochée');
                                }

                            }
                    </script>
                    
                    {% if session['jeu'] == False :%}

                        jeu.append(i)

                    {% endif %}  
                        
                    
            {% endfor %}   
                <h3>{{jeu}} cartes selectionnees</h3>
               
        </div>  
        <input type="submit" value="end-first-round"></input>
          
    </form>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</body>
</html>