<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>{{ session['tet'] }} checked-card</h3>
    <h4>Cartes</h4>
     
        <div class="contend-card">

            {% for i in session['tet'] %}
                  
                    
             <img class="cardd" src="{{ url_for('static',filename='cards/'+i+'.png') }}">
                        
                        
                        
            {% endfor %}   
        </div>
    
    
</body>
</html>