<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/board/game/game2" method="POST">
         <h3>{{ session['tet'] }} checked-card</h3>
         <h4>Cartes {{ tr2}}</h4>
         <h5>{{ session['g']}} voici votre gain</h5>
         <h5>{{ session['wallet']}} wallet</h5>
        
         
         <div class="contend-card">
 
             {% for i in session['tet'] %}
                   
                     
              <img class="cardd" src="{{ url_for('static',filename='cards/'+i+'.png') }}">
                         
                         
             {% endfor %}   
         </div>
     
        
     
        </form>
        
            <button onclick="restart()">Replay</button>

        <form action="/end" method="POST">

            <input type="submit" value="END">
        </form>
           
       
        
        
    
    <script src="{{url_for('static', filename='scrpt.js')}}"></script>
</body>
</html>